@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title ; @ConfigurationManager.AppSettings["BlogTitle"]</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/iPad.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="title"><a href="@Url.RouteUrl("Front" )"><h1>Bensoniam Blogthisis</h1></a><h3  ><a href="http://twitter.com/@(ConfigurationManager.AppSettings["TwitterAcct"])">twitter</a>  | @Html.RouteLink("about","about")</h3></div>
    <div class="container">
        @RenderBody()
        <br />
        <hr />
        <br />
        <footer>
           @DateTime.Now.Year - Benson Lott<br />
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- MyAd -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9225831984253571"
                 data-ad-slot="4953169525"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </footer>
    </div>
</body>
</html>